<h1 class="cover-heading">About me.</h1>

<hr>

<div class= "row">
    <div class= "col-md-4">
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX3d7oyt_MAMXTn0Vi8jKLSUm7yrqzeK44a21jWZwAIhpFsnOtLg:https://cdn.pixabay.com/photo/2015/09/23/09/39/water-953256_960_720.jpg", width: 300, alt: "Profile Image"%>
    </div>
    <div class= "col-md-8">
        <p>I am a student at Skyridge High School and I love computers. Currently I am planning on taking a career path down the computer science pathway. I also have taken a summer coding class called Code to Success which taught me and my classmates how to code in CSS, HTML, Ruby on Rails, and a little Javascript.</p>
    </div>
</div>

