<h1 class="cover-heading">About me.</h1>
<p>I am a student at Skyridge High School and I love computers. Currently I am planning on taking a career path down the computer science pathway. I also have taken a summer coding class called Code to Success which taught me and my classmates how to code in CSS, HTML, Ruby on Rails, and a little Javascript.</p>
